@mixin flexCenter($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin font($weight) {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: $weight;
}